@model StockControl.Models.RequestViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Purchase Request: @Html.DisplayFor(model => model.Purchase_Request.RequestID)</h1>

<hr />
<div class="row">
    <dl class="col-md-8">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request.PurchaseRequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.PurchaseRequestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request.PurchaseRequestTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.PurchaseRequestTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request.PurchaseRequestSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.PurchaseRequestSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.User.FirstName)
            @Html.DisplayFor(model => model.Purchase_Request.User.LastName)
        </dd>
    </dl>
    <div class="col-md-4">
        <button class="btn"><a asp-action="Edit" asp-route-id="@Model?Purchase_Request.RequestID">Edit</a></button>
        <button><a asp-action="Index">Back</a></button>
    </div>
</div>
<div class="row">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Request_Detail.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Request_Detail.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Request_Details)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-success" asp-controller="Purchase_Request_Detail" asp-route-id="@item.RequestID">Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-controller="Purchase_Request_Detail" asp-route-id="@item.RequestID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>