@model IEnumerable<StockControl.Models.Purchase_Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseRequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseRequestTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseRequestSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseRequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseRequestTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseRequestSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
