@model StockControl.Models.OrderRequestViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Purchase_Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Order.OrderID" type="hidden" value="ViewBag.OrderID" />
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" type="datetime" class="form-control" value="@ViewBag.CurrentDate" readonly />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RequestID" class="control-label"></label>
                <select asp-for="Order.RequestID" class="form-control" asp-items="ViewBag.RequestID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.PurchaseOrderTotal" class="control-label"></label>
                <input asp-for="Order.PurchaseOrderTotal" class="form-control" value="0" readonly />
                <span asp-validation-for="Order.PurchaseOrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PurchaseOrderSubtotal" class="control-label"></label>
                <input asp-for="Order.PurchaseOrderSubtotal" class="form-control" value="0" readonly />
                <span asp-validation-for="Order.PurchaseOrderSubtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.SupplierID" class="control-label"></label>
                <select asp-for="Order.SupplierID" class="form-control" asp-items="ViewBag.SupplierID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.PurchaseOrderProgress" class="control-label"></label>
                <select asp-for="Order.PurchaseOrderProgress" class="form-control">
                    <option>In Complete</option>
                    <option>Complete</option>
                    <option>In Progress</option>
                </select>
                <span asp-validation-for="Order.PurchaseOrderProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Comment" class="control-label"></label>
                <input asp-for="Order.Comment" class="form-control" />
                <span asp-validation-for="Order.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.RequestID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.PurchaseRequestStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.PurchaseRequestTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Request.PurchaseRequestSubtotal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Requests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseRequestStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseRequestTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseRequestSubtotal)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Purchase_Request" asp-route-id="@item.RequestID">Edit</a> |
                            <a asp-action="Details" asp-controller="Purchase_Request" asp-route-id="@item.RequestID">Details</a> |
                            <a asp-action="Delete" asp-controller="Purchase_Request" asp-route-id="@item.RequestID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
