@model StockControl.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Purchase Order: @Html.DisplayFor(model => model.Purchase_Order.OrderID)</h1>
<hr />

<div class="row">
    <dl class="col-md-7">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.PurchaseOrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.PurchaseOrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.PurchaseOrderSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.PurchaseOrderSubtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.PurchaseOrderProgress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.PurchaseOrderProgress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.Purchase_Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.Purchase_Request.RequestID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.Supplier.SupplierName)
        </dd>
    </dl>
    <div class="col-md-5">
        <a asp-action="Edit" asp-route-id="@Model?.Purchase_Order.OrderID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<div class="row">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Order_Detail.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Order_Detail.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purchase_Order_Detail.Product)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order_Details)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-success" asp-controller="Purchase_Order_Detail" asp-route-id="@item.OrderID">Edit</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-controller="Purchase_Order_Detail" asp-route-id="@item.OrderID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>