@model StockControl.Models.Purchase_Order_Detail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Html.DisplayFor(model => model.OrderID)?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Order.OrderID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <button class="btn btn-secondary"><a asp-action="Details" asp-controller="Purchase_Order" asp-route-id="@ViewBag.OrderID">Cancel</a></button>
    </form>
</div>
