@model StockControl.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.SupplierName)</h1>
<button >Generate PDF</button>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierUrl)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-success"><a asp-action="Edit" asp-route-id="@Model?.SupplierID">Edit</a></button>
    <button class="btn btn-secondary"><a asp-action="Index">Back</a></button>
</div>
