@model StockControl.Models.Purchase_Request_Detail

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Html.DisplayFor(model => model.RequestID)?</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase_Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase_Request.RequestID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <button class="btn btn-secondary"><a asp-action="Details" asp-controller="Purchase_Request" asp-route-id="@ViewBag.RequestID">Back</a></button>
    </form>
</div>
